body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  margin-bottom: 20px;
}

#count {
  font-size: 48px;
  margin: 20px 0;
}

button {
  padding: 5px 5px;
  margin: 5px;

  font-size: 20px;
  cursor: pointer;
}
