body{
    font-family: Arial,sans-serif;
    background-color:burlywood;
    padding: 20px;
}
#productList{
    display: flex;
    flex-direction: column;
    gap: 10px
}
h1{
    margin-bottom: 20px;
}
.product{
    border: 1px solid #ccc;
    padding: 12px;
    width: 160px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.product h3{
    margin: 0 0 3px;
    font-size: 15px;
}
.product p{
    margin: 0;
    font-size: 15px;
}