body{
    font-family: Arial,sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    width: 50%;
    padding: 8px;
    margin-top: 12px;
}
input{
    width: 100%;
    padding: 8px;
    margin-top: 12px;
}
#message{
    margin-top: 10px;
    font-size: 14px;
}