body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background: #fff;
    padding: 20px;
    width: 340px;
    border-radius: 6px;
}
input{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}
button{
    width: 100%;
    margin-top: 15px;
    padding: 8px;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 12px;
    height: 14px;
    display: block;
}
#success{
    color: green;
    margin-top: 10px;
    font-size: 14px;
}