body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}
.dark{
    background-color: #121212;
    color: #ffffff;
}
button{
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
}