body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}
.container{
    width: 400px;
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
.product{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background: #eee;
}
button{
    padding: 5px 10px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0%;
}
li{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    background: #ddd;
    padding: 8px;
}
.cart-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.remove-btn {
    background: red;
}